<div *ngIf="viewMode; else editable">
    <div *ngIf="currentItem.id">
      <h4>Item</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentItem.name }}
      </div>
      <div>
        <label><strong>ID:</strong></label> {{ currentItem.id }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentItem.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentItem.status ? "Done" : "Pending" }}
      </div>
  
      <a class="badge badge-warning"
        routerLink="/items/{{ currentItem.id }}">
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentItem">
      <br />
      <p>Please click on a Item...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentItem.id" class="edit-form">
      <h4>Item</h4>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentItem.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentItem.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentItem.status ? "Done" : "Pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="!currentItem.status"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentItem.status"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteItem()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateItem()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentItem.id">
      <br />
      <p>Cannot access this Item...</p>
    </div>
  </ng-template>
  